<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Match</title>
</head>
<body>
    <h1>Recherche d'Historique de Match</h1>
    <form action="/" method="POST">
        <label for="game_name">Pseudo:</label>
        <input type="text" id="game_name" name="game_name" value='LeChali' required>
        <label for="tag_line">Tag Line:</label>
        <input type="text" id="tag_line" name="tag_line" value="EUW" required>
        <button type="submit">Chercher</button>
    </form>
</body>
</html>
